#block_0
 {
	color: blue;
	background: #f3f3f3;
  font-size: 1.5em;
}

.body {
  background: url(images/bg.png);  
}

.table {
  width: 96%;
  margin: auto;
}

@import url(https://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic);
.text_2 {
    font-family: 'Marck Script', cursive;
    font-size: 2em;
    color: #333;
    text-align: center;
    vertical-align: middle;
    padding: 0.5em;
}
.text_3 {
  font-size: 1em;
  color: blue;
  text-align: justify;
  padding: 1em;
}
.images {
  width: 99%;
}
